doctype html
html
	head
		title Library Manager

		link(rel='stylesheet', href='/stylesheets/style.css')
	nav
		ul
			li
				a(href='/allBooks') Books

			li
				a(href='/allPatrons') Patrons
     
			li
				a(href='/allLoans') Loans
	body
		block content