extends layout

block content

  h1 Date of Loan is Required! (e.g. yyyy-mm-dd)
  h1 Date of Returning Loan is Required! (e.g. yyyy-mm-dd)
    h4 Go back to:  
     |
    a(href="http://localhost:3000/newLoan") New Loan
